<mat-toolbar color="primary">
    <span>
        <a routerLink="/">MyMessages</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenitcated">
            <a mat-button routerLink="/create" routerLinkActive="activebutton">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenitcated">
            <a mat-button routerLink="/auth/login" routerLinkActive="activebutton">Login</a>
        </li>
        <li *ngIf="!userIsAuthenitcated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="activebutton">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenitcated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>